{% extends "base.html" %}

{% block header %}
    <div class="masthead clearfix">
    <div class="inner">
      <h5 class="masthead-brand">ECE1779-Assignment3 <b>{{session['username']}}</b>'s work (editing)</h5>
      <nav>
        <ul class="nav masthead-nav">
            <li class="active"><a href="{{ url_for('profile',username = session['username']) }}">Back to homepage</a></li>
            <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </nav>
    </div>
    </div>
{% endblock %}

{% block content %}
 <STYLE type="text/css">
textarea {
    text-align: left;
}
.CodeMirror, .CodeMirror-scroll {
	min-height: 400px;
}
 </STYLE>
    <div class="row justify-content-center">
        <form  action="{{ url_for('checkExist')}}" onSubmit="return checkEmpty(form)" name="form">
            <label>Date:</label>&nbsp;&nbsp;
            <input id="datepicker" type="text" name="dateChosen" readonly="readonly" value="{% if project_date %}{{ project_date }}{% endif %}"/>
{#            <script type="text/javascript">#}
{#            $(function(){#}
{#                $( '#datepicker' ).datepicker();#}
{#            });#}
{#            </script>#}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label>Project Name:</label>&nbsp;&nbsp;
            <input
{#           class='flexdatalist'#}
{#           data-min-length='0'#}
{#           data-selection-required='true'#}
{#           list='projects'#}
           name='projectChosen'
           value="{% if project_name %}{{ project_name }}{% endif %}"
           type='text'
{#           value="{% if project_list  %}{{ project_list[-1] }}{% endif %}"#}
{#            onchange="this.form.submit()"#}
            readonly="readonly"
            />
{#            <datalist id="projects">#}
{#            {% if project_list   %}#}
{#                {% for proj in project_list %}#}
{#                    <option value={{ proj }}>{{ proj }}</option>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#            </datalist>#}
{#            <script type="text/javascript">#}
{#                $('.flexdatalist').flexdatalist({#}
{#                     selectionRequired: true,#}
{#                     minLength: 0#}
{#                });#}
{#            </script>#}

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-sm btn-default" value="Save" id="savebutton"/>
            <br>
            <br>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
            <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
            <textarea id="demo1" name="textarea" ></textarea>
            <script>
                var simplemde = new SimpleMDE({
                    element: document.getElementById("demo1"),
                    spellChecker: false,
                    initialValue: "{% if OLDtextarea %}{{ OLDtextarea }}{% endif %}",
                });
            </script>
        </form>
    </div>


    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>

    <script type="text/javascript">
        function checkEmpty(form){
            if (document.getElementById("textarea").value == "")
            {
                alert("You must enter somthing!");
                return false;
            }
        }

    </script>
    <script type="text/javascript">
    $('#savebutton').click(function() {
        $('form').attr("action", "{{ url_for('savework')}}");  //change the form action
        $('form').submit();  // submit the form
    });
    </script>
{% endblock %}