{% extends "base.html" %}

{% block header %}
    <div class="masthead clearfix">
    <div class="inner">
      <h5 class="masthead-brand">ECE1779-Assignment3 <b>{{session['username']}}</b>'s work recorded on <b>{{ date }}</b></h5>
      <nav>
        <ul class="nav masthead-nav">
            <li class="active"><a href="{{ url_for('profile',username = session['username']) }}">Back to homepage</a></li>
            <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </nav>
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-12">

            {% for project in project_list %}

            <form  action="{{ url_for('checkExist')}}" onSubmit="return checkEmpty(form)" name="form">

            <input id="datepicker" name="dateChosen" readonly="readonly" type="hidden" value="{{ date }}"/>
                <label>Project Name:</label>&nbsp;&nbsp;
            <input
           name='projectChosen'
           value="{{ project }}"
           type='text'
           readonly="readonly"
            />
            <input type="submit" class="btn btn-sm btn-default" value="Edit/View" id="savebutton"/>
            <br>
            <br>
            </form>

            {% endfor %}
        </div>
    </div>
{% endblock %}