{% extends "base.html" %}


{% block header %}
    <div class="masthead clearfix">
        <div class="inner">
            <h5 class="masthead-brand">ECE1779-Assignment3</h5>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="{{ url_for('main') }}">Home</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block content %}
    <h1 class="cover-heading">Hello,</h1>
    <br>
    <p class="lead">Welcome to PMdocs online</p>
    <p class="lead">A place to record and manage your opinions and progresses</p>
    <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
    <div class="row justify-content-center">
        <div class="col-md-3">
        <p><a class="btn btn-lg btn-default" href="{{ url_for('login') }}" role="button">Login</a></p>
        </div>

        <div class="col-md-3">
        <p><a class="btn btn-lg btn-default" href="{{ url_for('register') }}" role="button">Register</a></p>
        </div>
    </div>
{% endblock %}

