{% extends "base.html" %}

{% block header %}
    <div class="masthead clearfix" >
        <div class="inner">
        <h5 class="masthead-brand">ECE1779-Assignment3 <b>{{session['username']}}</b>'s Homepage</h5>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active">
                    <form action="{{ url_for('searchProject')}}">
                        <div class="input-group ">
                        <input type="text" name="projectToSearch" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-sm" value="Find Public Projects"/>
                        </div>
                    </form>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead">Your work
            {% if project_chosen %} on <b><i>{{ project_chosen }}</i></b>{% endif %}
            {% if date_chosen %}<b><i>, {{ date_chosen }}</i></b>{% endif %}
            :</p>
            <div class="row justify-content-center" >
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
                <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
                <textarea id="demo1" name="textarea" ></textarea>
                <script>
                    const simplemde = new SimpleMDE({
                        element: document.getElementById("demo1"),
                        spellChecker: false,
                        initialValue: "{% if OLDtextarea %}{{ OLDtextarea }}{% else %}You have not written anything yet...{% endif %}",
                        toolbar: false,
                        status: false,
                        placeholder: "You have not written anything yet...",
                    });
                    simplemde.togglePreview();
                </script>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#createProjModal">
                    Create New Project
                </button>
                <div class="modal fade" id="createProjModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create New Project:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        <form action="{{ url_for('addproject')}}">
                            <div class="modal-body">
                                <input type="text" name="newProjectName" class="form-control"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-md btn-default" value="Create"/>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
{#                <p><a class="btn btn-lg btn-default" href="{{ url_for('choose_before_editing') }}" role="button">#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;START&nbsp;&nbsp;NEW&nbsp;&nbsp;DOC&nbsp;&nbsp;&nbsp;&nbsp;</a></p>#}

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#exampleModal">
                    Edit Markdown Doc
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Choose the date and name:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        <form action="{{ url_for('checkExist')}}" name="form">
                            <div class="modal-body">
                                <label>Project Date:</label>
                                <input id="datepicker" type="text" name="dateChosen" class="form-control"/>
                                <script type="text/javascript">
                                $(function(){
                                    $( '#datepicker' ).datepicker();
                                });
                                </script>
                                <br>
                                <label>Project Name:</label>
                                <input
                                    class='flexdatalist form-control'
                                    data-min-length='0'
                                    data-selection-required='true'
                                    list='projects'
                                    placeholder='Type to choose'
                                    name='projectChosen'
                                    value="{% if project_name %}{{ project_name }}{% endif %}"
                                    type='text'
                                />
                                <datalist id="projects">
                                    {% if project_list   %}
                                        {% for proj in project_list %}
                                            <option value={{ proj }}>{{ proj }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </datalist>
                                <script type="text/javascript">
                                    $('.flexdatalist').flexdatalist({
                                         selectionRequired: true,
                                         minLength: 0
                                    });
                                </script>
                              </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Cancel</button>
                                  <input type="submit" class="btn btn-md btn-default" value="Edit" id="savebutton"/>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <form action="{{ url_for('viewdate')}}">
                    <br><br><br><br><br><br>
                    <h5 >View your MD docs:</h5>
                    <br>
                <div class="input-group ">
                    <input id="datepicker2" type="text" name="dateChosen" class="form-control"/>
                    <script type="text/javascript">
                    $(function(){
                    {#$( '#datepicker2' ).datepicker();#}
                    $( ' #datepicker2 ').datepicker({ beforeShowDay: available });
                    });
                    var availableDates = {% if date_list  %}{{ date_list|safe }}{% endif %};
                    {#var availableDates = ['12/1/2017','01/1/2018'];#}
                    function available(datepicker2) {
                      dmy = (datepicker2.getMonth()+1)+ "/" + datepicker2.getDate()  + "/" + datepicker2.getFullYear();
                      console.log(dmy+' : '+($.inArray(dmy, availableDates)));
                      if ($.inArray(dmy, availableDates) != -1) {
                        return [true, "","Available"];
                      } else {
                        return [false,"","unAvailable"];
                      }
                    }

                    </script>

                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-md btn-default" value="&nbsp;&nbsp;by date&nbsp;&nbsp;"/>
                </div>
                </form>
            </div>

            <div class="row justify-content-center">
                <form action="{{ url_for('viewproject')}}">
                <div class="input-group ">
                    <input
                   class='flexdatalist form-control'
                   data-min-length='0'
                   data-selection-required='true'
                   list='projects'
                   placeholder='Type to choose'
                   name='projectChosen'
                   type='text'/>
                    <datalist id="projects">
                    {% if project_list   %}
                        {% for proj in project_list %}
                            <option value={{ proj }}>{{ proj }}</option>
                        {% endfor %}
                    {% endif %}
                    </datalist>
                    <script type="text/javascript">
                        $('.flexdatalist').flexdatalist({
                             selectionRequired: true,
                             minLength: 0
                        });
                    </script>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-md btn-default" value="by project"/>
                </div>
                </form>
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

{% endblock %}