{% extends "base.html" %}

{% block header %}
    <div class="masthead clearfix" >
    <div class="inner">
      <h5 class="masthead-brand">ECE1779-Assignment3 <b>{{session['username']}}</b>'s Homepage</h5>
      <nav>
        <ul class="nav masthead-nav">
          <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>

        </ul>
      </nav>
    </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">

            <br>
            <p class="lead">Your work
            {% if project_chosen %}<b><i> on {{ project_chosen }}</i></b>{% endif %}
            {% if date_chosen %}<b><i>, {{ date_chosen }}</i></b>{% endif %}
            :</p>
            <div class="row justify-content-center" >

                <div id="editor">
                  <textarea :value="input" @input="update" name="textarea" rows="25" cols="70"
                  placeholder="You have not written anything on this project"></textarea>
                  <div v-html="compiledMarkdown"></div>
                </div>

                <script type="text/javascript">
                    new Vue({
                      el: '#editor',
                      data: {
                        input: "{% if OLDtextarea %}{{ OLDtextarea }}{% endif %}"
                      },
                      computed: {
                        compiledMarkdown: function () {
                          return marked(this.input, { sanitize: true })
                        }
                      },
                      methods: {
                        update: _.debounce(function (e) {
                          this.input = e.target.value
                        }, 300)
                      }
                    })
                </script>

            </div>
        </div>



        <div class="col-md-4">

            <div class="row justify-content-center">
                <form action="{{ url_for('addproject')}}">
                    <br><br><br><br>
                    <h5 >Create new project name:</h5>
                    <br>
                    <div class="input-group ">
                    <input type="text" name="newProjectName" class="form-control" style="width: 200px"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" class="btn btn-md btn-default" value="&nbsp;&nbsp;Create&nbsp;&nbsp;"/>
                    </div>
                    <br><br><br><br>
                </form>
            </div>

            <div class="row justify-content-center">
                <p><a class="btn btn-lg btn-default" href="{{ url_for('choose_before_editing') }}" role="button">
                    &nbsp;&nbsp;&nbsp;&nbsp;START&nbsp;&nbsp;NEW&nbsp;&nbsp;DOC&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
            </div>

            <div class="row justify-content-center">
                <form action="{{ url_for('viewdate')}}">
                    <br><br><br>
                    <h5 >View your MD docs:</h5>
                    <br>
                <div class="input-group ">
{#                    <input#}
{#                   class='flexdatalist form-control'#}
{#                   data-min-length='0'#}
{#                   data-selection-required='true'#}
{#                   list='dates'#}
{#                   placeholder='Type to choose'#}
{#                   name='dateChosen'#}
{#                   type='text'/>#}
{#                    <datalist id="dates">#}
{#                    {% if date_list  %}#}
{#                        {% for date in date_list %}#}
{#                            <option value={{ date }}>{{ date }}</option>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                    </datalist>#}
{#                    <script type="text/javascript">#}
{#                        $('.flexdatalist').flexdatalist({#}
{#                             selectionRequired: true,#}
{#                             minLength: 0#}
{#                        });#}
{#                    </script>#}
                    <input id="datepicker" type="text" name="dateChosen" class="form-control"/>
                    <script type="text/javascript">
                    var availableDates = {% if date_list  %}{{ date_list|safe }}{% endif %};
                    function available(datepicker) {
                      dmy = (datepicker.getMonth()+1)+ "/" + datepicker.getDate()  + "/" + datepicker.getFullYear();
                      console.log(dmy+' : '+($.inArray(dmy, availableDates)));
                      if ($.inArray(dmy, availableDates) != -1) {
                        return [true, "","Available"];
                      } else {
                        return [false,"","unAvailable"];
                      }
                    }
                    $(function(){
{#                        $( '#datepicker' ).datepicker();#}
                        $( ' #datepicker ').datepicker({ beforeShowDay: available });
                    });
                    </script>

                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-md btn-default" value="&nbsp;&nbsp;by date&nbsp;&nbsp;"/>
                </div>
                </form>
            </div>

            <div class="row justify-content-center">
                <form action="{{ url_for('viewproject')}}">
                <div class="input-group ">
                    <input
                   class='flexdatalist form-control'
                   data-min-length='0'
                   data-selection-required='true'
                   list='projects'
                   placeholder='Type to choose'
                   name='projectChosen'
                   type='text'/>
                    <datalist id="projects">
                    {% if project_list   %}
                        {% for proj in project_list %}
                            <option value={{ proj }}>{{ proj }}</option>
                        {% endfor %}
                    {% endif %}
                    </datalist>
                    <script type="text/javascript">
                        $('.flexdatalist').flexdatalist({
                             selectionRequired: true,
                             minLength: 0
                        });
                    </script>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-md btn-default" value="by project"/>
                </div>
                </form>
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
            </div>
        </div>
    </div>
{% endblock %}